<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <style>
        .block {
            width: 200px;
            height: 200px;
            display: inline-block;
            background-color: cornflowerblue;
            transition-duration: .5s;
            transition-timing-function: ease-in-out;
        }
        
        .block:hover {
            background-color: rgb(154, 184, 241);
        }
    </style>
    <div class="block">Hello {{name}}</div>
    <div class="block"></div>
    <div class="block">Today is: {{date}}</div>
    <div class="block">Today is: {{date}}</div>
    <div class="block"></div>
    <div class="block">Hello {{name}}</div>
</body>

</html>