* {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}

.nav-link {
    border-radius: 30px;
}

a {
    text-decoration: none;
    color: #000;
}

.main-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    position: relative;
}

.people {
    position: fixed;
    margin-right: 15vw;
    margin-bottom: 5vh;
    z-index: -99;
}

.auth-button {
    display: flexbox;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    margin-bottom: 3px;
}

.titles {
    display: flex;
    height: 50vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

.main-header {
    max-width: 32vw;
    font-weight: 900;
    text-align: center;
    margin-bottom: 2vh;
}

.subtitle {
    text-align: center;
}

.rounded-button {
    background: #0555FF;
    border-radius: 30px;
    justify-self: unset;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main-link {
    color: #fff;
}

.rounded-button:hover {
    background: #4c82f7;
}

.main-link:hover,
.main-link:active {
    color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
}

.after-link-text {
    color: rgb(129, 128, 128);
    margin-top: 1vh;
    font-size: 0.9rem;
}

.sponsors {
    margin-top: 10vw;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.br-line {
    width: 60vw;
    margin-top: 8vh;
    margin-bottom: 5vh;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.center {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.second-screen {
    display: flex;
    flex-direction: column;
    background: #fff;
}

.s-scrn_text {
    display: flex;
    height: 70vh;
    margin-top: 15vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    text-align: center;
}

.s-scrn_text>.subtitle {
    max-width: 35vw;
}

.s-scrn_text>h3 {
    font-weight: 700;
}

.s-scrn_cards {
    display: flex;
    flex-direction: column;
    width: 98vw;
    margin-top: 10vh;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.card_img img {
    max-width: 30vw;
    display: block;
    z-index: 1;
}

.card_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    z-index: 1;
}

.card_header {
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
}

.card_text {
    max-width: 25vw;
}

.card_dot {
    max-width: 30vw;
    display: block;
    position: inherit;
    left: 10vw;
    top: 10vh;
    z-index: 0;
}

.third-screen {
    display: flex;
    flex-direction: column;
    height: 120vh;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8FA;
}

.th-scrn_text {
    display: flex;
    width: 100%;
    height: 20vh;
    flex-direction: column-reverse;
    align-items: center;
}

.th-scrn_text h1,
p {
    color: #050038;
    margin-bottom: 0;
    padding-bottom: 0;
}

.th-scrn_text h1 {
    font-size: 3em;
    font-weight: 900;
}

.twitter-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
    width: 69vw;
    height: 90vh;
}

.twitter-card {
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
    min-height: 30vh;
    height: fit-content;
    background-color: #fff;
    flex-direction: column;
    border-radius: 10px;
    padding: 1vh 1vw;
    margin-bottom: 3vh;
    margin-right: 3vw;
}

.twitter-header {
    display: flex;
    flex-wrap: wrap;
    width: 19vw;
    justify-content: space-between;
    margin-bottom: 3vh;
}

.twitter-username {
    display: flex;
    flex-direction: column;
}

.twitter-logo {
    position: relative;
    left: -1vw;
}

.twitter-username {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3vh;
}

.twitter-text {
    font-size: 1.2vh;
    max-width: 95%;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #130C3A;
    height: fit-content;
    width: 100vw;
    color: #fff;
}

.register-area_text {
    font-weight: 900;
    color: #fff;
    text-align: center;
}

.register-area {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.register-area_wrapper {
    display: flex;
    height: 30vh;
    flex-direction: column;
    justify-content: space-evenly;
}

.input-group>input {
    background-color: transparent;
}

.input-group>button {
    background: #0555FF;
    color: #fff;
    border-radius: 0px 10px 10px 0px;
}

.footer-nav-area {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    line-height: 4.5vh;
}

.footer-nav {
    list-style: none;
    color: #fff;
    padding: 0;
    margin: 0;
}

.footer-nav_element {
    margin: 0;
    padding: 0;
}

.footer-nav_element>a {
    color: #fff;
    font-weight: 300;
}

.footer_contact-block>p {
    color: #fff;
    font-weight: 300;
}

.footer_bottom {
    display: flex;
    width: 100%;
    height: 10vh;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
    background: #0F0937;
}